<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
  </head>

  <body>
    <!-- header above navigation bar -->
    <header>
      <div class="masthead clearfix">
        <div class="container">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name">{{ site.name }}</h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
        </div>
      </div>
    </header>

    {% include navbar.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>
