<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script src="{{ site.baseurl }}/javascripts/jquery-2.1.4.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/bootstrap.min.js"></script>
    <script>
      /* Javascript that enables 'sticky' nav bar */
      $(function() {
          $('#nav-wrapper').height($("nav").height());
          $('nav').affix({
              offset: { top: $('nav').offset().top }
          });
      });
    </script>
  </head>

  <body>
    <!-- header above navigation bar -->
    <header>
      <div class="masthead clearfix">
        <div class="container">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name">{{ site.name }}</h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
        </div>
      </div>
    </header>

    <!-- navigation bar -->
    <div id="nav-wrapper">
      <nav class="navbar navbar-inverse" role="navigation">
        <!-- Removing for better overall alignment -->
        <!-- <div class="container-fluid"> -->
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-collapsing-navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Optional class="navbar-brand" -->
            <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a> -->
          </div> <!-- .navbar-header -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div id="my-collapsing-navbar" class="collapse navbar-collapse" style="padding-left:0;">
            <ul class="nav navbar-nav">
              <!-- "activated" link example
              <li class="active"><a href="#">Link 1<span class="sr-only">(current)</span></a></li>
              -->
              <li><a href="{{ site.baseurl }}/" style="padding-left:0;">Home</a></li>
              <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
              <li><a href="{{ site.baseurl }}/blogs/">Blogs</a></li>
            </ul> <!-- .navbar-nav -->

            <!-- Define elements from the right side of the navbar -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://drive.google.com/file/d/0B4UPxc-ft6igWUVYRjVaSU5hOTQ/view" target="_blank">Resume</a></li>
              <li><a href="{{ site.baseurl }}/about/">About</a></li>
              <!-- dropdown example
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
              -->
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div><!-- /#nav-wrapper-->


    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
